.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px);
  color: white;
}

.image-container {
  line-height: 1em;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  width: 800px;
  height: 720px;
}

.ascii-row {
}